<h1>Make your form here</h1>
<form method="POST" action="/pirates">
    <h2>Create your first pirate here: </h2>
    <p>Enter the pirate's name: <input type="text" name="name1"></p>
    <p>Enter the pirate's weight: <input type="text" name="weight1"></p>
    <p>Enter the pirate's height: <input type="text" name="height1"></p>
    <input type="submit" value="Create now!">
</form>
