<h1>Make your form here</h1>
<form method="post" action="/pirates">

    # Pirate

    <label for="pirate_name">Pirate Name</label>
    <input type="text" name="pirate[name]" id="pirate_name"></input>

    <label for="pirate_weight">Pirate Weight</label>
    <input type="text" name="pirate[weight]" id="pirate_weight"></input>

    <label for="pirate_height">Pirate Height</label>
    <input type="text" name="pirate[height]" id="pirate_height"></input>

    # Ship 1

    <label for="ship_name_1">Ship1 Name</label>
    <input type="text" name="pirate[ships][][name]" id="ship_name_1"></input>

    <label for="ship_type_1">Ship1 Type</label>
    <input type="text" name="pirate[ships][][type]" id="ship_type_1"></input>

    <label for="ship_booty_1">Ship1 Booty</label>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"></input>

    # Ship 2

    <label for="ship_name_2">Ship2 Name</label>
    <input type="text" name="pirate[ships][][name]" id="ship_name_2"></input>

    <label for="ship_type_2">Ship2 Type</label>
    <input type="text" name="pirate[ships][][type]" id="ship_type_2"></input>

    <label for="ship_booty_2">Ship2 Booty</label>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"></input>

    # Submit Button
    <input type="submit" value="Submit">

</form>