<h1>Display your Pirate here</h1>
<p>Pirate 1</p>
<p>Name: <%= @pirate1.name %> </p>
<p>Height: <%= @pirate1.height %> </p>
<p>Weight: <%= @pirate1.weight %> </p>


<h2>Display your first ship here</h2>


<h2>Display your second ship here</h2>
